@import "../../../../css/_variables.css";

.form_border {
  border-bottom: 0.1rem solid var(--gray);
  margin: 0 20rem;
}

.form_section {
  background-image: url("../../../../images/form/form.jpg");
  background-size: cover;
  background-position: center;
  margin: 5rem 0;
}

.form_section .overlay {
    padding: 5rem 0;
}

.form_section .form_success,
.form_section .form_error {
  font-size: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.form_section .form_success {
  color: var(--blue);
}

.form_section .form_error {
  color: var(--red-100);
}

.form_container {
  align-items: center;
  border-radius: 5rem;
  color: var(--white-100);
  display: flex;
  flex-direction: column;
  height: 50rem;
  justify-content: center;
  margin: 0 auto;
  padding: 5rem 0;
  row-gap: 0.5rem;
  max-width: 45%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

input,
textarea {
  border: 0.1rem solid var(--blue-500);
  border-radius: 0.8rem;
  color: var(--blue-500);
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1rem;
  text-align: start;
  width: 50rem;
}

textarea {
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--blue-100);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 1rem var(--white-100);
}

.input_flex {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.input_flex div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.input_error {
  color: var(--yellow-100);
}

button {
  background-color: transparent;
  border: 0.2rem solid var(--white-100);
  border-radius: 0.5rem;
  color: var(--white-100);
  cursor: pointer;
  margin-top: 1rem;
  padding: 1rem 5rem;
}

button:hover,
button:focus {
  background-color: var(--blue-100);
  transition: background-color 1000ms;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
}

@media (max-width: 95em) {
  .form_border {
    margin: 0 8rem;
  }
}

@media (max-width: 67em) {
  .form_border {
    padding: 1.5rem 0 2rem 0;
  }
}

@media (max-width: 65em) {
  input,
  textarea {
    width: 40rem;
  }
}

@media (max-width: 30em) {
  .form_section {
    background-image: none;
    padding: 0;
  }

  .form_section .overlay {
    background-color: transparent;
  }

  .form_section .form_success,
  .form_section .form_error {
    padding: 2rem 0 1rem 0;
    text-align: center;
  }

  .form_container {
    background-image: none;
    color: var(--blue-300);
    padding: 2.5rem 0;
  }

  .input_error {
    color: var(--red-100);
  }

  .form_container h2 {
    color: var(--blue-100);
  }

  input,
  textarea {
    width: 27rem;
  }

  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 0.5rem var(--blue-300);
  }

  button {
    border-color: var(--blue-100);
    color: var(--blue-100);
  }

  button:hover {
    color: var(--white-100);
  }
}