@import "../../../../css/_variables.css";

header {
  color: var(--white-100);
  background-image: url("../../../../images/header/header.jpg");
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

header .section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  padding: 15rem 0;
  text-align: center;
}

.header-img {
  height: 15.6;
  max-width: 15.6rem;
}
