@import "./_variables.css";

@media (max-width: 95em) {
  /*General*/
  .section {
    margin: 0 1rem;
  }

  /*Header*/
  header div {
    flex-wrap: wrap;
    text-align: center;
  }

  /*Navbar*/
  nav {
    margin: 0 8rem;
  }

  .nav-link {
    font-size: 2.5rem;
  }

  /*Main*/
  main section {
    flex-wrap: wrap;
    justify-content: center;
  }

  main section {
    gap: 5rem;
  }
  main section img {
    max-width: 55rem;
  }

  /*Form*/
  .form-border {
    margin: 0 8rem;
  }

  /*Footer*/
  footer .section {
    flex-wrap: wrap;
    gap: 10rem;
  }

  .section div {
    justify-content: center;
    flex-wrap: wrap;
  }

  /*Error*/
  .overlay .error-content {
    padding: 7.5rem 0;
  }
}

@media (max-width: 67em) {
  /*Navbar*/
  nav {
    padding: 1.5rem 0 2rem 0;
  }

  nav div {
    flex-direction: column;
    height: 25rem;
    text-align: center;
  }

  .nav-link {
    font-size: 2rem;
    opacity: 0.3;
  }

  .link-current-page {
    border-bottom: 0;
    color: var(--blue-300);
    font-size: 3rem;
    opacity: 1;
  }

  /*Header*/
  header h1 {
    font-size: 5.2rem;
  }

  .header-img {
    height: 10rem;
    max-width: 10rem;
  }

  /*Main*/
  main section {
    justify-content: center;
  }

  main section div {
    justify-content: center;
  }

  .main-spinner-container {
    border: 0;
    width: 100%;
  }

  main h2 {
    font-size: 4.4rem;
  }

  /*Form*/
  .form-border {
    padding: 1.5rem 0 2rem 0;
  }

  /*Footer*/
  footer .section {
    text-align: center;
  }

  footer address {
    row-gap: 2rem;
  }
}

@media (max-width: 65em) {
  /*Main*/
  main section img {
    max-width: 50rem;
  }

  /*Form*/
  input,
  textarea {
    width: 40rem;
  }
}

@media (max-width: 30em) {
  /*General*/
  li {
    font-size: 1.6rem;
    padding: 0 2rem;
  }

  /*Main*/
  li {
    font-size: 1.6rem;
    padding: 0 2rem;
  }

  main section img {
    max-width: 100%;
  }

  main section div h5 {
    font-size: 3rem;
  }

  /*Form*/
  .form-section {
    background-image: none;
    padding: 0;
  }

  .form-section .overlay {
    background-color: transparent;
  }

  .form-section .form-success,
  .form-section .form-error {
    padding: 2rem 0 1rem 0;
    text-align: center;
  }

  .form-container {
    background-image: none;
    color: var(--blue-300);
    padding: 2.5rem 0;
  }

  .input-error {
    color: var(--red-100);
  }

  .form-container h2 {
    color: var(--blue-100);
  }

  input,
  textarea {
    width: 27rem;
  }

  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 0.5rem var(--blue-300);
  }

  button {
    border-color: var(--blue-100);
    color: var(--blue-100);
  }

  button:hover {
    color: var(--white-100);
  }

  /*Footer*/
  address p {
    align-items: start;
  }
}
