@import "../../css/_variables.css";

.error {
  color: var(--white-100);
  background-image: url("../../images/header/header.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.container {
  display: grid;
  height: auto;
  max-width: 100%;
  row-gap: 5rem;
}

.section {
  margin: 0 9.6rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  height: 100vh;
  top: 0;
  width: 100%;
}

.overlay .error_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
  justify-content: center;
  padding: 15rem 0;
  text-align: center;
}

.overlay .section p {
  font-size: 4.4rem;
}

.error_img {
  max-width: 15.6rem;
}

.img:hover {
  transform: rotate(90deg);
  transition: all 500ms;
}

.img:not(:hover) {
  transform: rotate(0deg);
  transition: all 500ms;
}

.img:hover + hgroup .blue_hover {
  color: var(--blue-hover);
  transition: all 700ms;
}

.img:hover + hgroup .red_hover {
  color: var(--red-hover);
  transition: all 700ms;
}

.img:not(:hover) + hgroup .blue_hover,
img:not(:hover) + hgroup .red_hover {
  color: var(--white-100);
  transition: all 700ms;
}

@media (max-width: 95em) {
  .overlay .error-content {
    padding: 7.5rem 0;
  }
  .section {
    margin: 0 1rem;
  }
}

@media (max-width: 67em) {
  h1 {
    font-size: 5.2rem;
  }

  h5 {
    font-size: 3rem;
  }

  .overlay .section p {
    font-size: 3rem;
  }
}
